/* 1280 980 767 480 */

@media (max-width: 1280px) {
    .container {
        max-width: 980px;
    }

}

@media (max-width: 980px) {
    .container {
        max-width: 767px;
    }

    .hero {
        padding: 12em 0 9em 0;
    }

    .promotion-img {
        width: 420px;
        margin-top: 0;
        padding-top: 3em;
    }
    
}