/* 1280 980 767 640 480 320 */

@media (max-width: 1280px) {
    .container {
        max-width: 980px;
    }

}

@media (max-width: 980px) {
    .container {
        max-width: 767px;
    }

    .hero {
        padding: 12em 0 9em 0;
    }

    .promotion-img {
        width: 420px;
        margin-top: 0;
        margin-top: 3em;
    }
    
}

@media (max-width: 767px) {
    .container {
        max-width: 640px;
    }

    html {
        font-size: 12px;
    }

    .hero {
        padding: 10em 0 7em 0;
        text-align: center;
    }

    .hero-title, 
    .hero-text {
        max-width: initial;
    }
    
    .hero-btn-list {
        justify-content: center;
    }

    .promotion {
       padding-top: 3em;
    }

    .promotion-img {
        width: 255px;
        margin-top: 0;
    }

    .features {
        padding: 3em 0;
    }

    .features-list-col {
        width: 50%;
    }

    .features-card {
        padding: 1.7em;
        width: 100%;
        max-width: 22.5em;
        margin: 0 auto;
    }

    .testimonials {
        padding-top: 3em;
    }

    .testimonials-list {
        margin-top: 3em;
    }

    .testimonials-list-col:last-child{
        display: none;
    }

    .trial {
        padding: 3em 0;
    }

    .footer {
        padding-top: 0;
    }

    .footer-list {
        margin-bottom: 3em;
        flex-wrap: wrap;
    }

    .footer-list-item {
        width: 50%;
        align-items: center;
    }

    .footer-list-title {
        margin-top: 3em;
    }
   
    .footer-list-text {
        text-align: center;
    }

    .footer-list-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1em;
    }

    .footer-list-form-input {
        width: 100%;
        padding: 0.4em;
    }

    .footer-list-form-btn {
        width: 6.5em;
        padding: 0.4em 0.6em;
        margin-top: 1em;
    }

    .footer-copyright {
        text-align: center;
    }
    
}

@media (max-width: 640px) {
    .container {
        max-width: 480px;
    }

    .nav-list {
        display: none;
    }

    .nav-list-mobile {
        display: block;
        position: absolute;
        top: 50%;
        right: 0%;
        transform: translate(0, -50%);
        font-size: 1.4em;
        font-weight: 700;
        cursor: pointer;
    }

    .nav-list-toogler:checked + .nav-list {
        display: flex;
    }

    .nav-list-toogler:checked ~ .nav-list-mobile {
        display: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.9);
        order: -2;
    }

    .nav-list > li {
        padding: 20px;
    }

        .nav-list-item {
        font-size: 1.4em;
    }

    .promotion {
        text-align: center;
    }

    .promotion-img {
        display: none;
    }

    .features-list-col {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 320px;
    }

    .hero-btn-list {
        flex-direction: column;
    }

    .hero-btn-list li + li {
        margin-top: 0.7em;
        margin-left: 0;
    }

    .testimonials-list-col:nth-child(2) {
        display: none;
    }

    .footer-list {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}