* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

input:focus, label:focus, textarea:focus, select:focus, option:focus, button:focus, a:focus {
    outline: none;
  }